# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Databases
instance/
*.sqlite
*.sqlite3
*.db
*.bak

# Build/dist files
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE stuff
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
