{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Notes{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.write') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% if one_time_key %}
<p id="one-time-key">Key: <code>{{ one_time_key }}</code></p>
{% endif %}
{% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">{{ post['created'].strftime('%Y-%h-%d') }}</div>
        </div>
        {% if g.user and g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}