{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Edit Note{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title"><b>Title:</b></label><br>
    <input id="title" name="title" type="text" value="{{ request.form.title or post['title'] }}" required><br><br>

    <label for="body"><b>Message:</b></label><br>
    <textarea id="body" name="body" rows="10" cols="80">{{ request.form.body or post['body'] }}</textarea><br><br>

    <div>
        <button type="submit">Save</button>
        <a href="{{ url_for('blog.posts') }}">Cancel</a>
    </div>
</form>

<hr>
<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post"
    onsubmit="return confirm('Delete this note?');">
    <input class="danger" type="submit" value="Delete">
</form>
{% endblock %}