{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Write your note.{% endblock %}</h2>
{% endblock %}

{% block content %}
<p>Encrypt and decrypt your messages securely.</p>
<form method="POST">
    <label for="title"><b>Title:</b></label><br>
    <input id="title" name="title" type="text">{{ title }}<br><br>
    <label for="message"><b>Message:</b></label><br>
    <textarea id="message" name="message" rows="5" cols="60">{{ message }}</textarea><br><br>
    <input type="submit" name="action" value="Save & Encrypt">
</form>
{% endblock %}