{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Write your note.{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="POST">
    <label for="title"><b>Title:</b></label><br>
    <input id="title" name="title" type="text" value="{{ title|default('') }}"><br><br>

    <label for="message"><b>Message:</b></label><br>
    <textarea id="message" name="message" rows="8" cols="60">{{ message|default('') }}</textarea><br><br>

    <button type="submit">Save</button>
</form>
{% endblock %}